target
.idea
*.iml
/domain-services/auction-service/memory-guzzler.csv
/domain-services/auction-service/cloudbay-h2-db.mv.db
/cloudbay-h2-db.mv.db
/memory-guzzler.csv
logs/
cloudbay-h2-db.mv.db
cloudbay-h2-db.trace.db